{% extends "base.html" %}

{% block content %}
	<p>
		<pre>
__________      .__                           __________
\______   \____ |  | ___.__.___  __ __________\____    /
 |     ___/  _ \|  |<   |  |\  \/ // __ \_  __ \/     / 
 |    |  (  <_> )  |_\___  | \   /\  ___/|  | \/     /_ 
 |____|   \____/|____/ ____|  \_/  \___  >__| /_______ \
                     \/                \/             \/
		</pre>
	</p>
	{% for post in news %}
	<fieldset class="news_post">
		<legend>{{ post.title }}</legend>
		<h5>posted at {{ post.creation_time }}</h5>
		<h5>updated at {{ post.modification_time }}</h5>
		<p>{{ post.content }}</p>
	</fieldset>
	{% endfor %}
{% endblock %}
